<!DOCTYPE html>
<html lang="fr">
<% include header %>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/logoBook.svg" width="30" height="30" alt="">
        </a>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/article/ajouter">Ajouter un article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/article/modifier">Modifier/Supprimer un article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/article/afficher">Lire les articles</a>
            </li>
        </ul>
    </nav>
</body>
</html>