<!DOCTYPE html>
<html>
  <% include header %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/article">article</a>
    <a href="/commentaire">commentaire</a>
    <a href="/personne">personne</a>
  </body>
</html>
