<!DOCTYPE html>
<html>
<% include header %>

    <body>

        <!-- NAVBAR -->

        <% include navbar%>
        

        <!-- TAG NAV BAR -->
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link" href="/">Derniere news</a>
            <a class="nav-item nav-link" href="/article/sport">Sport</a>
            <a class="nav-item nav-link" href="/article/economie">Economie</a>
            <a class="nav-item nav-link" href="/article/voyage">Voyage</a>
        </nav>

        <!-- TITRE -->
        <!-- <h1>InfoTeam</h1> -->

        <% include articleAfficher %>



            <!-- CONECTTION/NON-CONNECTION -->
            <% if (connected){%>
                <!-- <p>Vous etes connectez!</p>
                <p>idUser :
                    <%= idUser%>
                </p> -->
                <%}%>
                    <% include footer %>
    </body>

</html>