<!DOCTYPE html>
<html>
<% include header %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>

        <div>
            <a href="/personne/affichage">Affichage des personnes</a>
            <a href="/personne/inscription">Page d'inscription</a>
            <a href="/personne/modification">Gestion de compte</a>
            <a href="/personne/connexion">Connexion</a>
            <a href="/personne/deconnexion">Déconnexion</a>
        </div>
    </body>

</html>